{
	"env": {
		"browser": false,
		"mongo": true,
		"es6": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module"
	},
	"rules": {
		"no-undef": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"valid-typeof": "warn",
		"eqeqeq": "warn",
		"semi": [ "warn, always" ],
		"indent": [ "error", "tab" ],
		"linebreak-style": [ "error", "unix" ],
		"quotes": [ "error", "single" ]
	}
}
