{
	"env": {
		"browser": false,
		"mongo": true,
		"es6": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module"
	},
	"rules": {
		"no-undef": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"no-console": 0,
		"valid-typeof": "warn",
		"eqeqeq": "warn",
		"semi": [
			"warn"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		]
	}
}